
@import "variables";



.contenedor-footer {
    display: flex;
    grid-area: footer;
    width: 100%;
    padding: 2rem 0 2rem 0;
    justify-content: space-between;
}

footer {
    position: relative;
    background-image: url(../img/background-pattern.jpg);
}

.logo-footer {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacto-footer {
    color: $clr_blanco;
    display: flex;
    margin-top: 2rem;
    grid-column: 1/2;
}

.contacto-datos {
	display: flex;
	flex-direction: column;
	grid-column: 2/3;
	color: $clr_blanco;
	margin-top: 2rem;
	ul {
		padding-left: 0;
		li {
			margin-bottom: 1rem;
			i {
				margin-right: 10px;
			}
		}
	}
}


.contenedor_footer_form {
	display: flex;
	flex-direction: column;
	margin-top: 2rem;
	grid-column: 3/5;
	h3 {
		color: $clr_blanco;
	}
}

.legales-footer {
    display: flex;
    width: 100%;
    grid-area: legales;
    margin: 1rem 0 1rem 0;
    align-items: center;
    justify-content: center;
    color: $clr_blanco;
    border-top: #D9D9D9 solid 1px;
    border-bottom: #D9D9D9 solid 1px ;
    padding: .5rem 0 .5rem 0;
    text-transform: uppercase;
}

@media only screen and (max-width: 800px) {

    .contacto-datos {
        display: flex;
        flex-direction: column;
        grid-column: 1/2;
        color: $clr_blanco;
        margin-top: 2rem;
    }

    .contenedor_footer_form {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        grid-column: 1/2;
    }

}



