

//colores
$clr_blanco: white;
$clr_rojo: rgb(80, 19, 19);
$clr_negro: black;
$clr_gris: #202020;
$clr_salmon: rgb(230, 51, 51);

//fonts
$ff-main: 'Roboto', sans-serif;
$ff-sec: 'Alfa Slab One', cursive;